<!DOCTYPE html>
<html>
<head>
    <link href="https://bootswatch.com/4/flatly/bootstrap.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>

<div class="body docdetails">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <span class="navbar-brand" href="#">{{ doc.name }}</span>

        <div class="float-right">
            <a class="btn btn-success " href="{{ path('doc_show', {'id': doc.id}) }}" data-toggle="tooltip" title="Prévisualiser" >
                {% if doc.type.typename == 'image' %}
                <i class="fa fa-file-image-o" aria-hidden="true"></i>
                {%  else %}
                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                {% endif %}
            </a>
            <a class="btn btn-info " href="{{ path('doc_show', {'id': doc.id}) }}" target="_blank" data-toggle="tooltip" title="Nouvel onglet">
                <i class="fa fa-external-link" aria-hidden="true"></i>
            </a>
        </div>
    </nav>
    <div class="ml-2 doc-infos">
        <p><b>Auteur :</b> {{ doc.author.username }}<br/>
            <b>Description :</b> {{ doc.description}}<br/>
            <b>Type :</b> {{ doc.type.typeName }}<br/>
            <b>Date de création :</b> {{ doc.dateCreation|date('d/m/Y')}}<br/>
            <b>Dernière modification le :</b> {{ doc.dateLastModification|date('d/m/Y')}}<br/>
            <b>Taille :</b> {{ doc.size }}<br/>
            <b>Tags :</b> {{ doc.tags }}</p>

    </div>
</div>

</body>
</html>