{% extends 'includes/base-template.html.twig' %}

{% block body %}

    <div>
        <label>Nom</label>:&nbsp;<label>{{ doc.name }}</label>
    </div>
    <div>
        <label>Auteur</label>:&nbsp;<label>{{ doc.author.username }}</label>
    </div>
    <div>
        <label>Description</label>:&nbsp;<label>{{ doc.description}}</label>
    </div>
    <div>
        <label>Type</label>:&nbsp;<label>{{ doc.type.typeName }}</label>
    </div>
    <div>
        <label>Date de création</label>:&nbsp;<label>{{ doc.dateCreation|date('d-m-y')}}</label>
    </div>
    <div>
        <label>Taille</label>:&nbsp;<label>{{ doc.size }}</label>
    </div>
    <div>
        <label>Dernière modification le</label>:&nbsp;<label>{{ doc.dateLastModification|date('d-m-y')}}</label>
    </div>
    <div>
        <label>Tags</label>:&nbsp;<label>{{ doc.tags }}</label>
    </div>
    <div>
        <button onClick='printJS("{{ doc.data }}","{{ doc.type.typeName }}");'>
            Imprimer le fichier
        </button>
    </div>

    {% block javascripts %}
        <script src="{{ asset('js/print-js/dist/print.js') }}"></script>
    {% endblock %}

    {% block stylesheets %}
        <link rel="{{ asset('js/print-js/dist/print.min.css') }}">
    {%  endblock %}

{% endblock %}