{% extends 'includes/base-template.html.twig' %}

{% block body %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Notes réseau</li>
  </ol>
</nav>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col"></th>
            <th scope="col">Nom</th>
            <th scope="col">Dernière modification</th>
            <th scope="col">Type</th>
            <th scope="col">Taille</th>
            <th scope="col">Créateur</th>
            </tr>
        </thead>

        <tbody>
        {% for row in listFolder %}
            <tr>
                <th scope="row"> </th>
                <td>{{ row.name }}</td>
                <td></td>
                <td>folder</td>
                <td></td>
                <td></td>
            </tr>
        {% endfor %}
        {% for row in listFile %}
            <tr>
                <th scope="row"> </th>
                <td>{{ row.name }}</td>
                <td>{{ row.dateLastModification }}</td>
                <td>{{ row.type.typeName }} </td>
                <td>{{ row.size }} </td>
                <td>{{ row.author.username }} </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}