{% extends 'includes/base-template.html.twig' %}

{% block body %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"><a href="{{ path('home') ~ '?folderID=1'}}">Racine</a></li>
        {% for folder in parents %}
            {% if folder.getId == root_folder.getId %}
                <li class="breadcrumb-item active" aria-current="page">
                    <a href="{{ path('home') ~ '?folderID=' ~ folder.id}}">{{ folder.name }}</a>
                </li>
            {% else %}
                <li class="breadcrumb-item" aria-current="page">
                    <a href="{{ path('home') ~ '?folderID=' ~ folder.id}}">{{ folder.name }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ol>
</nav>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col"></th>
            <th scope="col">Nom</th>
            <th scope="col">Dernière modification</th>
            <th scope="col">Type</th>
            <th scope="col">Taille</th>
            <th scope="col">Créateur</th>
            </tr>
        </thead>

        <tbody>
        <tr>
            <th scope="row"> </th>
            <td><a href="{{ path('home') ~ '?folderID=' ~ root_folder.parent.id }}">../</a></td>
            <td></td>
            <td>folder</td>
            <td></td>
            <td></td>
        </tr>
        {% for folder in listFolder if folder.getId != 1 %}
            <tr>
                <th scope="row"> </th>
                <td><a href="{{ path('home') ~ '?folderID=' ~ folder.id}}">{{ folder.name }}/</a></td>
                <td></td>
                <td>folder</td>
                <td></td>
                <td></td>
            </tr>
        {% endfor %}
        {% for file in listFile %}
            <tr>
                <th scope="row"> </th>
                <td>{{ file.name }}</td>
                <td>{{ file.dateLastModification }}</td>
                <td>{{ file.type.typeName }} </td>
                <td>{{ file.size }} </td>
                <td>{{ file.author.username }} </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}