{% extends 'includes/base-template.html.twig' %}

{% block body %}

<div>
    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col"></th>
            <th scope="col">Nom</th>
            <th scope="col">Dernière modification</th>
            <th scope="col">Type</th>
            <th scope="col">Taille</th>
            <th scope="col">Créateur</th>
            </tr>
        </thead>

        <tbody>
        {% for file in listFile %}
            <tr>
                <th scope="row"> </th>
                <td><a href="{{ path('doc_details',  {'id' : file['id']}) }}">{{ file['name'] }}</a></td>
                <td>{{ file['date_last_modification'] }}</td>
                <td>{{ file['type_name'] }} </td>
                <td>{{ file['size'] }} </td>
                <td>{{ file['username'] }} </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}