{% extends 'includes/base-template.html.twig' %} {% block body %}
<nav aria-label="breadcrumb">

	<ol class="breadcrumb">
		<li aria-current="page">Recherche : &nbsp;</li>
		<li aria-current="page">{{listWord}}</li>
	</ol>
</nav>
<div class="row">
	<div class="col-md-8 no-margin">
		<div class="files-tab ml-1">
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col"></th>
						<th scope="col">Nom</th>
						<th scope="col">Date création</th>
						<th scope="col">Type</th>
						<th scope="col">Taille</th>
                        <th scope="col">Tags</th>
						<th scope="col">Créateur</th>
						<th scope="col">Supprimer</th>
					</tr>
				</thead>

                    <tbody>
                    {% for file in listFile %}
                        <tr>
                            <th scope="row"> </th>
                            <td><span class="file-clickable" value="{{ path('doc_details',  {'id' : file.id}) }}">{{ file.name }}</span></td>
                            <td>{{ file.dateCreation|date('d/m/Y')}}</td>
                            <td>{{ file.type.typeName }} </td>
                            <td>{{ file.size }} octets</td>
                            <td>{{ file.tags }}</td>
                            <td>{{ file.author.username }} </td>
                            <td><a href="{{path('doc_delete',  {'id' : file.id}) }}">
                                    <button class="btn btn-muted"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                </a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    <div class="col-md-4 docdetails-panel">
        <iframe src="" class="iframe-docdetails" seamless> </iframe>
    </div>
</div>

{% block javascripts %}
<script src="{{ asset('js/print-js/dist/print.js') }}"></script>
<script>
            $(".file-clickable").click( function() {
                $(".iframe-docdetails").attr("src", this.getAttribute("value"));
            })
        </script>

{% endblock %} 
{% endblock %}
