{% block header %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="{{ path('home') }}"><img src="{{ asset('images/folder.png') }}" width="30" height="30" class="d-inline-block align-top" alt=""> GED</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% if connected %}
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <form class="form-inline my-2 my-lg-0" action="{{ path('displayResearch') }}" method="post">
                    <input class="form-control mr-sm-2" placeholder="Rechercher un fichier" type="text" name="filtre">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Rechercher</button>
                </form>
                
            </ul>

            <ul class="navbar-nav">
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="/admin/stats"><button class="btn btn-secondary my-2 my-sm-0">Statistiques</button></a>
                    <a href="/admin/user"><button style="margin-left:10px" class="btn btn-secondary my-2 my-sm-0">Gestion des utilisateurs</button></a>
                        {% endif %}
                <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user-circle" aria-hidden="true"></i>
                        {{ app.user.username }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('account') }}">Fiche utilisateur</a>
                        <a class="dropdown-item" href="#">Changer mot de passe</a>
                        <a class="dropdown-item" href="{{ path('security_logout') }}">Déconnexion</a>
                        
                    </div>
                </li>
            </ul>
         {% endif %}

        </div>
    </nav>

{% endblock %}