<!DOCTYPE html>

<title>User index</title>

{% block body %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>User_id</th>
                <th>Username</th>
                <th>Password</th>
                <th>User_first_name</th>
                <th>User_last_name</th>
                <th>Roles</th>
                <th>User_deleted</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.userId }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.userFirstName }}</td>
                <td>{{ user.userLastName }}</td>
                {% for role in user.roles %}
                    <td>{{ role }}</td>
                {%  endfor %}

                <td>{{ user.userDeleted ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('user_show', {'user_id': user.getUserId}) }}">show</a>
                    <a href="{{ path('user_edit', {'user_id': user.getUserId}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_new') }}">Create new</a>
{% endblock %}