{% extends 'includes/base-template.html.twig' %}

{% block body %}
<div class="d-flex">
	<div class="mr-auto p-2">
    	<h1>User index</h1>
    </div>
    <div class="p-2">
    	<button type="button" class="btn btn-secondary" href="{{ path('user_new') }}">Ajouter un utilisateur</button>
    </div>
</div>

    <table class="table">
        <thead>
            <tr>
                <th>User_id</th>
                <th>Username</th>
                <th>Password</th>
                <th>User_first_name</th>
                <th>User_last_name</th>
                <th>Roles</th>
                <th>User_deleted</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.getId }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.userLastName }}</td>
                <td>{{ user.userFirstName }}</td>
                <td>
                {% for role in user.roles %}
                    {{ role }},
                {%  endfor %}
                </td>

                <td>{{ user.userDeleted ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('user_show', {'user_id': user.getId}) }}"><i class="fas fa-eye btn btn-secondary" style="color:">  </i></a>
                    <a href="{{ path('user_edit', {'user_id': user.getId}) }}"><i class="fas fa-pen btn btn-secondary"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}